<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.mapper">


	<!-- test -->
	<select id="selectMember" resultType="dto">
        select * from user;
    </select>
    
    
    
    <!-- find_id -->
	<select id="find_id" parameterType="String" resultType="String">
		select user_id from user where email = #{email}
	</select>  
	
	
	<!-- 아이디 중복검사 -->
	<select id="check_id" parameterType="String" resultType="int">
		select count(*) from user where user_id = #{user_id}
	</select>
	
	<!-- 이메일 중복검사 -->
	<select id="check_email" parameterType="String" resultType="int">
		select count(*) from user where email = #{email}
	</select>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="dto_user">
		insert into user
		(user_id, user_pw, gender, nick, passwd_q, passwd_a, email, mobile, birth, address, tag, cv) 
		values
		(#{user_id}, #{user_pw}, #{gender}, #{nick}, #{passwd_q}, #{passwd_a}, #{email},
		#{mobile}, #{birth}, #{address},#{tag},#{cv});
	</insert>
	
	
<!-- 회원탈퇴 -->
	<delete id="leave" parameterType="String">
		delete from user where user_id=#{user_id}
	</delete>
	<delete id="user_del1" parameterType="String">
		delete from help_reply where user_user_id=#{user_id} 
	</delete>
	<delete id="user_del2" parameterType="String">
		delete from help_post where user_user_id=#{user_id} 
	</delete>
	<delete id="user_del3" parameterType="String">
		delete from post where user_user_id=#{user_id} 
	</delete>
	<delete id="user_del4" parameterType="String">
		delete from reply where user_user_id=#{user_id} 
	</delete>
	<!-- counting -->
    <select id="count_helpme" resultType="int">
    	select count(*) from help_post where board=1
    </select>
	
	<!-- mypage user_info (유저 리스트) -->
    <select id="mp_user" resultType="dto_user">
    	select * from user 
    	where user_id=#{user_id} <!-- and user_pw=#{user_pw} -->
    </select>
	
	<!-- mypage edit -->
	<select id="mp_edit" resultType="dto_user">
    	update user set user_pw=#{user_pw}, nick=#{nick}, passwd_q=#{passwd_q}, 
    	passwd_a=#{passwd_a}, mobile=#{mobile}, address=#{address}, tag=#{tag}, 
    	cv=#{cv} where user_id=#{user_id};
    </select>
	

	<!-- 마이페이지 팝업 글 -->
    <select id="total_reply_pop" resultType="dto_total_reply">
		select a.reply_id, a.board, a.operator, a.re_comment, a.post_post_id, a.user_user_id
		from reply as a where user_user_id=#{user_id}
		union
		select b.help_reply_id, b.board, b.operator, b.re_comment, b.help_post_post_id, b.user_user_id
		from help_reply as b where user_user_id=#{user_id}
		order by operator desc
    </select>
    <!--마이페이지 팝업 댓글 -->
	<select id="mypage_total_list_pop" resultType="dto_my_total">
		select a.board, a.help_post_id as post_id, a.title, a.operator, a.hit from help_post as a where a.user_user_id=#{user_id}
		union
		select b.board, b.post_id as post_id, b.title, b.operator, b.hit from post as b where b.user_user_id=#{user_id}
		order by operator desc
	</select>


    <!-- help_me 게시글 리스트 -->
	<select id="list" resultType="dto_p">
		select *, ifnull((select count(*) from help_reply where help_post_post_id=a.help_post_id group by help_post_post_id), 0) as replyCnt 
 		from help_post a, user where user.user_id=a.user_user_id and board=1 order by help_post_id desc;
	</select>
	
	<!-- help_me likes -->
	<select id="likes" resultType="dto_p">
		select user.nick, user.likes from help_post, user where user.user_id = help_post.user_user_id;
	</select>
	
	<!-- help_me 게시글 상세보기 -->
	<select id="read" resultType="dto_p">
		select *, ifnull((select count(*) from help_reply where help_post_post_id=a.help_post_id group by help_post_post_id), 0) as replyCnt 
 		from help_post a, user where user.user_id = a.user_user_id and a.help_post_id =#{help_post_id};
		<!-- select * from help_post, user where user.user_id = help_post.user_user_id and help_post.help_post_id = #{help_post_id};-->
	</select>
	
	<!-- help_me 게시글 쓰기 -->
	<select id="write" parameterType="dto_p">
		insert into help_post (tag_area,img, board, title, nick, tag_job, content, gender, min_price, payment, complete, user_user_id) 
		values(#{tag_area},#{img},1,#{title},(select nick from user where user_id=#{user_user_id}),#{tag_job},#{content},#{gender},#{min_price},#{payment},0,#{user_user_id})
	</select>
	<!-- help_me 게시글 수정 -->
	<select id="edit" resultType="dto_p">
		update help_post set title=#{title}, tag_area=#{tag_area}, tag_job=#{tag_job},
		content=#{content}, gender=#{gender}, min_price=#{min_price}, payment=#{payment}, img=#{img}
 		where board=1 and help_post_id=#{help_post_id};
	</select>
	<!-- help_me 게시글 삭제 -->
	<select id="delete" resultType="dto_p">
		delete from help_post where help_post_id=#{help_post_id} 
	</select>
	<!-- help_me 게시글, 댓글 삭제 -->
	<select id='delete_re' resultType="dto_p">
		delete from help_reply where help_post_post_id=#{help_post_id} 
	</select>
		
	<!-- help_me댓글 보기 -->
	<select id="re_list" resultType="dto_pr">
	 	SELECT *
		FROM help_reply, user
		where user.user_id=help_reply.user_user_id and board=1 and help_post_post_id=#{help_post_id}
		ORDER BY IF(groupNum=0, help_reply_id, groupNum),re_index;
	 	<!--  select * from help_reply, user where user.user_id = help_reply.user_user_id and help_post_post_id=#{help_post_id};-->
	</select>
	<!-- help_me댓글 작성 -->
	<select id="re_write"  resultType="dto_pr" parameterType="dto_pr">	 
		insert into help_reply (board, re_comment, help_post_post_id, 
		user_user_id) values(1,#{re_comment},#{help_post_post_id},#{user_user_id}) ;
	</select>
	<!-- help_me댓글 수정 -->
	<select id="re_edit" resultType="dto_pr">
		update help_reply set re_comment=#{re_comment} where help_reply_id=#{help_reply_id}; 
	</select>
	<!-- help_me댓글 삭제 -->
	<select id="re_delete" resultType="dto_pr">
		delete from help_reply where help_reply_id=#{help_reply_id} 
	</select>
	<!-- help_me 수정 댓글 보기 -->
	<select id="re_edit_view" resultType="dto_pr">
		select * from help_reply where help_reply_id=#{help_reply_id}
	</select>
	<!-- help_me 대댓글 작성  -->
	<select id="helpme_groupNum_select" parameterType="int" resultType="int">
		select count(a.re_index) from help_reply as a,help_reply as b where a.re_order=b.help_reply_id and b.help_reply_id=#{groupNum};
	</select>
	<insert id="helpme_re_recommnet_submit" parameterType="dto_pr">
		insert into help_reply(board,re_index,re_comment,re_order,re_class,groupNum,help_post_post_id,user_user_id)
 		values(1,#{re_index},#{re_comment},#{re_order},#{re_class},#{groupNum},#{help_post_post_id},#{user_user_id});
	</insert>
	<!-- help_me hit -->
	<select id="hit" resultType="dto_p">
		update help_post set hit = hit+1 where help_post_id=#{help_post_id}
	</select>
	<!-- help_me 댓글 수 -->
	<select id="help_reply_count" resultType="int">
		select count(*) from help_reply where help_post_post_id=#{help_post_id};
	</select>
		<select id="helpme_search" resultType="com.javalec.holo.dto.Dto_help_post" parameterType="com.javalec.holo.dto.BoardSearch">
           select * , ifnull((select count(*) from help_reply where help_post_post_id=a.help_post_id group by help_post_post_id), 0) as replyCnt 
			from help_post a, user
            where (user.user_id=a.user_user_id )and board = 1 
            <if test='tagJob != null and !("").equals(tagJob) and !("전체").equals(tagJob)'>
	            and tag_job=#{tagJob} 
            </if>
            <if test='area != null and !("").equals(area) and !("전체").equals(area) '>
	            
	            and tag_area=#{area} 
            </if>
            <if test='search_option != null and !("").equals(search_option) and keyword!=null'>
	            	<if test='("all").equals(search_option)'>
		            	and (a.nick like CONCAT('%',#{keyword},'%')
			            or title like CONCAT('%',#{keyword},'%')
			            or content like CONCAT('%',#{keyword},'%')) 
	            	</if>
	            	<if test='("user_id").equals(search_option)'>
		            	and nick like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("title").equals(search_option)'>
		            	and title like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("content").equals(search_option)'>
		            	and content like CONCAT('%',#{keyword},'%')
	            	</if>
            	</if>
            order by a.operator desc
         	limit #{pagination_help.startList}, #{pagination_help.listSize}
    </select>
  
    <!-- 검색하기 count -->
    <select id="helpme_search_count" resultType="int" parameterType="com.javalec.holo.dto.BoardSearch">
            select count(*)
			from help_post a, user
            where (user.user_id=a.user_user_id )and board = 1 
            <if test='tagJob != null and !("").equals(tagJob) and !("전체").equals(tagJob)'>
	            and tag_job=#{tagJob} 
            </if>
            <if test='area != null and !("").equals(area) and !("전체").equals(area) '>
	            
	            and tag_area=#{area} 
            </if>
            <if test='search_option != null and !("").equals(search_option) and keyword!=null'>
	            	<if test='("all").equals(search_option)'>
		            	and (a.nick like CONCAT('%',#{keyword},'%')
			            or title like CONCAT('%',#{keyword},'%')
			            or content like CONCAT('%',#{keyword},'%')) 
	            	</if>
	            	<if test='("user_id").equals(search_option)'>
		            	and nick like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("title").equals(search_option)'>
		            	and title like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("content").equals(search_option)'>
		            	and content like CONCAT('%',#{keyword},'%')
	            	</if>
            	</if>
            order by a.operator desc
	</select>
	
	
	
	<!-- help_you -->
	<select id="helpyou_list" resultType="dto_p">
		select help_post_id,tag_area,board,title,help_post.operator,help_post.nick,tag_job,content,img,help_post.gender,min_price,payment,complete,user_user_id,likes from help_post,user 
		where user.user_id=help_post.user_user_id and board=0 order by help_post_id desc
		limit #{startList}, #{listSize};
	</select>
	<!-- counting -->
    <select id="count_helpyou" resultType="int">
    	select count(*) from help_post where board=0
    </select>
    
     <!-- helpyou검색하기 -->
		<select id="helpyou_search" resultType="com.javalec.holo.dto.Dto_help_post" parameterType="com.javalec.holo.dto.BoardSearch">
           select * , ifnull((select count(*) from help_reply where help_post_post_id=a.help_post_id group by help_post_post_id), 0) as replyCnt 
			from help_post a, user
            where (user.user_id=a.user_user_id )and board = 0
            <if test='tagJob != null and !("").equals(tagJob) and !("전체").equals(tagJob)'>
	            and tag_job=#{tagJob} 
            </if>
            <if test='area != null and !("").equals(area) and !("전체").equals(area) '>
	            
	            and tag_area=#{area} 
            </if>
            <if test='search_option != null and !("").equals(search_option) and keyword!=null'>
	            	<if test='("all").equals(search_option)'>
		            	and (a.nick like CONCAT('%',#{keyword},'%')
			            or title like CONCAT('%',#{keyword},'%')
			            or content like CONCAT('%',#{keyword},'%')) 
	            	</if>
	            	<if test='("user_id").equals(search_option)'>
		            	and nick like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("title").equals(search_option)'>
		            	and title like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("content").equals(search_option)'>
		            	and content like CONCAT('%',#{keyword},'%')
	            	</if>
            	</if>
            order by a.operator desc
         	limit #{pagination_help.startList}, #{pagination_help.listSize}
    </select>
  
    <!-- helpyou 검색하기 count -->
    <select id="helpyou_search_count" resultType="int" parameterType="com.javalec.holo.dto.BoardSearch">
            select count(*)
			from help_post a, user
            where (user.user_id=a.user_user_id )and board = 0
            <if test='tagJob != null and !("").equals(tagJob) and !("전체").equals(tagJob)'>
	            and tag_job=#{tagJob} 
            </if>
            <if test='area != null and !("").equals(area) and !("전체").equals(area) '>
	            
	            and tag_area=#{area} 
            </if>
            <if test='search_option != null and !("").equals(search_option) and keyword!=null'>
	            	<if test='("all").equals(search_option)'>
		            	and (a.nick like CONCAT('%',#{keyword},'%')
			            or title like CONCAT('%',#{keyword},'%')
			            or content like CONCAT('%',#{keyword},'%')) 
	            	</if>
	            	<if test='("user_id").equals(search_option)'>
		            	and nick like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("title").equals(search_option)'>
		            	and title like CONCAT('%',#{keyword},'%')
	            	</if>
	            	<if test='("content").equals(search_option)'>
		            	and content like CONCAT('%',#{keyword},'%')
	            	</if>
            	</if>
            order by a.operator desc
	</select>
    
	<!-- helpyou_write -->
	<insert id="helpyou_submit" parameterType="dto_p">
		insert into help_post(tag_area, board, title, nick, tag_job, content, img, gender, min_price, payment, complete, user_user_id)
		 values(#{tag_area},0,#{title},(select nick from user where user_id='a'),#{tag_job},#{content},#{img},#{gender},#{min_price},#{payment},0,'a');
	</insert>
	<!-- helpyou_write_view -->
	<select id="helpyou_write_view" parameterType="int" resultType="dto_p">
		select * from help_post where help_post_id=#{help_post_id}
	</select>
	<!-- helpyou write delete -->
	<delete id="helpyou_delete" parameterType="int">
		delete from help_post where help_post_id=#{help_post_id}
	</delete>
	<!-- helpyou edit update -->
	<update id="helpyou_edit">
		update help_post set 
		 tag_area=#{tag_area}, title=#{title}, tag_job=#{tag_job}, content=#{content}, img=#{img}, gender=#{gender}, min_price=#{min_price}, payment=#{payment}
		 where help_post_id=#{help_post_id}
	</update>
	<!-- helpyou postre delete -->
	<delete id="helpyou_repost_delete" parameterType="int">
		delete from help_reply where help_post_post_id=#{help_post_id}
	</delete>
	<!-- helpyou_reply_done -->
	<insert id="helpyou_reply_submit">
		insert into help_reply(board,re_comment, help_post_post_id, user_user_id)
		 values(0, #{re_comment}, #{help_post_post_id}, 'a')
	</insert>
	<!-- helpyou_reply_list --> 
	<select id="helpyou_reply_list" parameterType="int" resultType="dto_pr">
		SELECT *
		FROM help_reply
		where board=0 and help_post_post_id=#{help_post_post_id}
		ORDER BY IF(groupNum=0, help_reply_id, groupNum),re_index;
	</select>
	<!-- helpyou reply del -->
	<delete id="helpyou_reply_delete" parameterType="int">
		delete from help_reply where help_reply_id=#{help_post_post_id}
	</delete>
	<!-- helpyou reply update -->
	<update id="helpyou_reply_edit">
		update help_reply set
		 re_comment=#{re_comment}
		 where help_reply_id=#{help_reply_id}
	</update>
	
	<!-- helpyou re_recommnet submit --> 
	<select id="helpyou_groupNum_select" parameterType="int" resultType="int">
		select count(a.re_index) from help_reply as a,help_reply as b where a.re_order=b.help_reply_id and b.help_reply_id=#{groupNum};
	</select>
	<insert id="helpyou_re_recommnet_submit" parameterType="dto_pr">
		insert into help_reply(board,re_index,re_comment,re_order,re_class,groupNum,help_post_post_id,user_user_id)
 		 values(0,#{re_index},#{re_comment},#{re_order},#{re_class},#{groupNum},#{help_post_post_id},#{user_user_id});
	</insert>

	
	<!-- mypage help_complete -->
	<update id="help_complete">
		update help_post set complete=1 where help_post_id=#{help_post_id};
	</update>
	<!-- mypage post list -->
	<select id="mypage_post_list" resultType="dto_my_total">
		select a.board, a.help_post_id as post_id, a.title, a.operator, a.hit from help_post as a where a.user_user_id=#{user_id}
		union
		select b.board, b.post_id as post_id, b.title, b.operator, b.hit from post as b where b.user_user_id=#{user_id}
		order by operator desc
		limit #{startList}, #{listSize};
	</select>
	<!-- mypage post list count -->
	<select id="mypage_post_list_count" resultType="int">
		select (
		SELECT COUNT(*) from post
		where user_user_id=#{user_id})
		+(SELECT COUNT(*) from help_post
		where user_user_id=#{user_id}) as count;
	</select>
	<!-- mypage applyme list -->
	<select id="mypage_applyme_list" parameterType="int" resultType="dto_apply">
		select a.*,b.likes,c.complete from apply as a,user as b,help_post as c 
		where a.help_post_help_post_id=#{post_id} and a.applier=b.user_id and a.help_post_help_post_id=c.help_post_id;
	</select>
	<!-- mypage applyyou list -->
	<select id="mypage_applyyou_list" parameterType="int" resultType="dto_apply">
		select a.*,b.likes,c.complete from apply as a,user as b,help_post as c 
		where a.help_post_help_post_id=#{post_id} and a.applier=b.user_id and a.help_post_help_post_id=c.help_post_id;
	</select>
	<update id="mypage_applyme_choose" parameterType="int">
		update apply set choose=1 where apply_id=#{apply_id};
	</update>
	<!-- mypage applier like -->
	<update id="mypage_applier_like" parameterType="string">
		update user set likes=likes+1 where user_id=#{applier};
	</update>
	
	<!-- admin page -->
	<select id="admin_user_list" resultType="dto_user">
		select user_id,nick,likes,operator from user order by operator desc
		limit #{startList}, #{listSize};;
	</select>
	<select id="admin_user_list_count" resultType="int">
		select count(user_id) from user;
	</select>
	
	



	<!-- notice -->
    <select id="select_post" resultType="dto_post"> 
		select a.*, ifnull((select count(*) from reply where post_post_id=a.post_id group by post_post_id), 0) as replyCnt  
        from post a
        where board=3 order by post_id desc limit #{startList}, #{listSize};
    </select>
    
    <!-- counting -->
    <select id="count" resultType="int">
    	select count(*) from post where board=3
    </select>
    
     <!-- notice_write : add posts -->
    <select id="add_post" parameterType="dto_post"> 
    	insert into post(board, title, nick, content, img, user_user_id)
		values(3,#{title},'One',#{content},#{img},'admin');
    </select>
    
    <!-- notice_write_view : add comments --> 
    <select id="add_comment" parameterType="hashmap"> 
    	insert into reply(board,re_comment,post_post_id,user_user_id,nick)
		values(3,#{re_comment},#{post_post_id},#{user_user_id},#{nick});	
    </select>
    
 	<!-- notice_write_view : add re_comments -->
    <select id="add_re_comment" parameterType="dto_reply"> 
		insert into reply(board,re_index,re_comment,re_order,re_class,groupNum,post_post_id,user_user_id)
 		 values(3,#{re_index},#{re_comment},#{re_order},#{re_class},#{groupNum},#{post_post_id},#{user_user_id});
    </select>
    
    <!-- notice_write_view -->
    <select id="select_post_view" resultType="dto_post"> 
    	select * from post where board=3 and post_id=#{post_id}
    </select>
    
    <!-- counting -->
    <select id="count_post_reply" resultType="int">
    	select count(*) from reply where board=3 and post_post_id=#{post_id}
    </select>
    
    <!-- notice_write_view -->
    <select id="uphit" resultType="dto_post"> 
    	update post set hit = hit +1 where post_id=#{post_id};
    </select>
    
    <!-- notice_write_view : comment -->
    <select id="select_post_reply" resultType="dto_reply"> 
		SELECT * FROM reply
		where board=3 and post_post_id=#{post_post_id}
		ORDER BY IF(groupNum=0, reply_id, groupNum),re_index
		limit 0,5
    </select>
    
    <!-- notice_write_view : comment -->
    <select id="select_post_reply_ajax" resultType="dto_reply"> 
		SELECT * FROM reply
		where board=3 and post_post_id=#{post_post_id}
		ORDER BY IF(groupNum=0, reply_id, groupNum),re_index
		limit #{pagination.page},#{pagination.mypageListSize}
    </select>
    
    <!-- notice_write_view : delete posts -->
    <select id="select_post_delete" resultType="dto_post"> 
    	delete from post where post_id=#{post_id} and board=3;
    </select>
    
    <!-- notice_write_view : delete comments with a post -->
    <select id="select_reply_delete" resultType="dto_reply"> 
    	delete from reply where post_post_id=#{post_post_id} and board=3;
    </select>
    
     <!-- notice_write_view : delete comments ONLY -->
    <select id="delete_comment" resultType="dto_reply"> 
    	delete from reply where reply_id=#{reply_id} and board=3 and
    	post_post_id=#{post_post_id};
    </select>
    
    <!-- log in -->
    <select id="login" resultType="dto_login">
    	select * from user 
    	where user_id=#{user_id} and user_pw=#{user_pw}
    </select>
    
    <!-- update posts -->
    <select id="update_post" resultType="dto_post">
    	update post set title = #{title}, content=#{content} where post_id=#{post_id} and board=3
    </select>
    <!-- 검색하기 count -->
    <select id="count_notice_search" resultType="int">
    select count(*)            
            from post
            where board = 3
            <if test='search_option != null and !("").equals(search_option) '>
            	<if test='("user_id").equals(search_option)'>
	            and nick like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("title").equals(search_option)'>
	            and title like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("content").equals(search_option)'>
	            and content like CONCAT('%',#{keyword},'%')

            	</if>
            </if>
            order by post_id
	</select>
	
	<!-- notice_검색 결과 가져옴 -->                  
	<select id="list_notice" resultType="Dto_post" parameterType="com.javalec.holo.dto.BoardSearch">
          select a.* , ifnull((select count(*) from reply where post_post_id=a.post_id group by post_post_id), 0) as replyCnt
            from post a
            where board = 3
            <if test='search_option != null and !("").equals(search_option) '>
            	<if test='("user_id").equals(search_option)'>
	            and nick like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("title").equals(search_option)'>
	            and title like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("content").equals(search_option)'>
	            and content like CONCAT('%',#{keyword},'%')

            	</if>
            </if>
            order by post_id
         limit #{pagination.startList}, #{pagination.listSize}
    </select>
    

    
    
    
  

    
<!-- freeboard -->
    <select id="select_freeboard" resultType="dto_freeboard">
		select a.*, ifnull((select count(*) from reply where post_post_id=a.post_id group by post_post_id), 0) as replyCnt  
        from post a
        where board=2 order by post_id desc limit #{startList}, #{listSize};
    </select>
    
    <!-- counting -->
    <select id="count_freeboard" resultType="int">
    	select count(*) from post where board=2
    </select>
    
    <!-- 리스트 보기 -->
    
    <select id="select_freeboard_view" resultType="dto_freeboard">
        select a.*, ifnull((select count(*) from reply where post_post_id=a.post_id group by post_post_id), 0) as replyCnt  
        from post a
        where board=2 and post_id=#{post_id};
    </select>
    <!-- 게시글 보기 -->
        <select id="free_uphit" resultType="dto_freeboard"> 
    	update post set hit = hit +1 where post_id=#{post_id};
    </select>
    <!-- 조회수 +1 -->
    
    <select id="select_freeboard_delete" resultType="dto_freeboard"> 
    	delete from post where post_id=#{post_id} and board=2;
    </select>
    <!-- 게시글 삭제 -->
 	
 	<select id="select_free_reply_delete" resultType="dto_free_reply_delete"> 
    	delete from reply where post_post_id=#{post_post_id} and board=2;
    </select>
    <!-- 게시글+댓글 삭제 -->
    <select id="freeboard_update" resultType="dto_freeboard"> 
    	update post set title=#{title}, content=#{content}
    	where post_id=#{post_id} and board=2;
    </select>
    <!-- 게시물 수정 -->
 
    <insert id="freeboard_write" parameterType="dto_freeboard">
    	insert into post(board, title, nick, content, img, user_user_id) 
    		values (2, #{title}, #{nick}, #{content}, #{img}, #{user_user_id});
    </insert>
	<!-- 게시물 등록 -->	
    
    <select id="add_free_comment" parameterType="dto_free_reply"> 
    	insert into reply(board,re_index,re_comment,post_post_id,user_user_id)
		values(2,0,#{re_comment},#{post_post_id},#{user_user_id});
    </select>
    <!-- 댓글 쓰기 -->   
    
    <select id="select_free_reply" resultType="dto_free_reply"> 
    	SELECT *
		FROM reply
		where board=2 and post_post_id=#{post_id}
		ORDER BY IF(groupNum=0, reply_id, groupNum),re_index;
    </select>
    <!-- 댓글 보여주기 -->
    
    <select id="delete_free_comment" resultType="dto_free_reply"> 
    	delete from reply where reply_id=#{reply_id} and board=#{board} and
    	post_post_id=#{post_post_id};
    </select>
    <!-- 댓글 삭제 -->
    
    <select id="update_free_comment_now" resultType="dto_free_reply" parameterType="com.javalec.holo.dto.Dto_free_reply"> 
    	update reply set re_comment=#{re_comment}
    	where board=2 and reply_id=#{reply_id} and post_post_id=#{post_post_id};
    </select>
    <!-- 댓글 수정 -->
    
    <select id="add_free_re_comment" parameterType="dto_free_reply"> 
    	     insert into reply(board,re_index,re_comment,re_order,re_class,groupNum,post_post_id,user_user_id)
 		 values(2,#{re_index},#{re_comment},#{re_order},#{re_class},#{groupNum},#{post_post_id},#{user_user_id});	
    </select>
    <!-- 대댓글 추가 -->
    
    <select id="checkQueestionPw" parameterType="dto_user" resultType="int"> 
    	    select count(*)
    	    from user 
    	    where user_id = #{user_id} 
    	    and passwd_q = #{passwd_q}
    	    and passwd_a = #{passwd_a}	
    </select>
    <!-- 대댓글 추가 -->
    
    <select id="checkQueestionPw2" parameterType="com.javalec.holo.dto.Dto_user" resultType="int"> 
    	    select count(*)
    	    from user 
    	    where user_id = #{user_id} 
    	    and passwd_q = #{passwd_q}
    	    and passwd_a = #{passwd_a}	
    </select>
    <!-- 비밀번호 체크 -->
    
     <select id="getUserByUserId" parameterType="string" resultType="com.javalec.holo.dto.Dto_user"> 
    	    select user_id, user_pw, email, mobile, birth
    	    from user 
    	    where user_id = #{user_id} 	
    </select>
    <!-- 비밀번호 체크 -->
     <select id="selectCount" resultType="int">
    	select count(*) from reply where post_post_id=#{post_id};
    </select>
    <!-- 댓글 갯수 세기 -->
          <select id="mylist" resultType="com.javalec.holo.dto.Dto_freeboard">
        select * from post where board=2 and user_user_id = #{user_id} ;
    </select>
    <!-- 내가 쓴 글 -->
          <select id="myreply" resultType="com.javalec.holo.dto.Dto_free_reply">
        select * from reply where board=2 and user_user_id = #{user_id} ;
    </select>
    <!-- 내가 쓴 댓글 --> 
                     
	<select id="listAll" resultType="com.javalec.holo.dto.Dto_freeboard" parameterType="com.javalec.holo.dto.BoardSearch">
          select a.* , ifnull((select count(*) from reply where post_post_id=a.post_id group by post_post_id), 0) as replyCnt
            from post a
            where board = #{board}
            <if test='search_option != null and !("").equals(search_option) '>
            	<if test='("nick").equals(search_option)'>
	            and nick like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("title").equals(search_option)'>
	            and title like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("content").equals(search_option)'>
	            and content like CONCAT('%',#{keyword},'%')

            	</if>
            </if>
            order by operator desc
            <!--    limit #{pagination.startPage}, #{pagination.endPage}  -->
         limit #{pagination.startList}, #{pagination.listSize}
    </select>
    <!-- 검색하기 -->
    <!-- 검색하기 count -->
    <select id="search_count" resultType="int">
    select count(*)            
            from post
            where board = #{board}
            <if test='search_option != null and !("").equals(search_option) '>
            	<if test='("nick").equals(search_option)'>
	            and nick like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("title").equals(search_option)'>
	            and title like CONCAT('%',#{keyword},'%')
            	</if>
            	<if test='("content").equals(search_option)'>
	            and content like CONCAT('%',#{keyword},'%')

            	</if>
            </if>
            order by post_id
            <!--    limit #{pagination.startPage}, #{pagination.endPage}  -->
	</select>
    








    <!-- helpme에 지원하기 -->
    <select id="add_apply_me" resultType="dto_apply">
    	insert into apply(helpme_id, tag, cv, board, gender, applier, price, help_post_help_post_id, nick, title)
		values(#{helpme_id}, #{tag}, #{cv}, 1, 
		#{gender}, #{applier}, #{price}, #{help_post_help_post_id}, #{nick}, #{title})
    </select>
    
    <!-- helpme에 지원하기 -->
    <select id="add_apply_you" resultType="dto_apply">
    	insert into apply(helpyou_id, tag, cv, board, gender, applier, price, help_post_help_post_id, nick, title)
		values(#{helpme_id}, #{tag}, #{cv}, 0, 
		#{gender}, #{applier}, #{price}, #{help_post_help_post_id}, #{nick}, #{title})
    </select>
    
    <!-- apply_you 게시물 수 -->
    <select id="count_apply" resultType="int">
		select count(*) from apply where board=0 and =#{applier}
    </select>
    
    <!-- apply_you 게시물 보여줌 -->
    <select id="apply_you_page" resultType="dto_apply">
		select * from apply where board=0 and applier=#{applier}
		order by apply_id desc limit #{startList}, #{listSize}
    </select>
    
    <!-- help_post 글제목 가져오기 -->
    <select id="help_title" resultType="dto_p">
		select DISTINCT a.title, a.operator, a.help_post_id from help_post a, apply b 
		where a.user_user_id=#{user_user_id} and a.board=1
		and (a.user_user_id=b.helpme_id or a.user_user_id=b.helpyou_id)     
    </select>
    
    <!-- apply에서 지원자 가져오기 -->
    <select id="applier" resultType="dto_apply">
		select * from apply where helpme_id=#{user_id}
    </select>
    
    <!-- 전체 댓글 가져오기 -->
    <select id="total_reply" resultType="dto_total_reply">
		select a.reply_id, a.board, a.operator, a.re_comment, a.post_post_id, a.user_user_id
		from reply as a where user_user_id=#{user_id}
		union
		select b.help_reply_id, b.board, b.operator, b.re_comment, b.help_post_post_id, b.user_user_id
		from help_reply as b where user_user_id=#{user_id}
		order by operator desc limit #{pagination.startList}, #{pagination.listSize}
    </select>
    
    <!-- 전체 댓글 수 -->
    <select id="total_reply_count" resultType="int">
    	select(
		SELECT COUNT(*) from reply
		where user_user_id=#{user_id})
		+(SELECT COUNT(*) from help_reply
		where user_user_id=#{user_id})
    </select>
    
    <!-- 전체 지원 게시글 수 -->
    <select id="total_apply_count" resultType="int">
    	select count(*) from apply where applier=#{user_id}
    </select>
    
    <!-- 전체 지원 게시글 가져오기 -->
    <select id="total_apply" resultType="dto_apply">
    	select * from apply where applier=#{user_id} order by operator desc 
		limit #{pagination.startList},#{pagination.mypageListSize}
    </select>
    
    <!-- 전체 지원 게시글 수 -->
    <select id="count_reply" resultType="int">
    	select count(*) from reply where post_post_id=#{post_id}
    </select>
    
    <!-- apply_cacel(delete) -->
    <delete id="cancel_apply" parameterType="String">
    	delete from apply where apply_id=#{apply_id}
    </delete>
</mapper>