@charset "EUC-KR";
table{
	width:570px;
	text-align: left;
    margin: 0 auto;   
}
table tr td{
	padding:5px;
}
#btn{
	text-align: center;
}
input, #choice{
	border:1px solid #ccc;
	border-radius:3px;
}
#btn input{
	margin-top: 20px;
	margin-right:10px;
	width: 100px;
}
#sign_out{
	text-align: center;
    margin: 0 auto;
}
section{
	margin-top: 40px;
	height: auto;
    text-align: center;
    
}
h2{
	padding:30px 0 20px 0;
	text-align: left;
	margin-left: 20px;
	width:570px;
    margin:0 auto;
}
#cv{
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px 2%;
    width: 80%;

    resize: none;
    outline: none;
    height:70px;
}
#addrN{
	font-size:14px;
	color:#aaa;
}
#passC, #showaddr, #btn input{
	padding:3px 5px;
	border-radius:5px;
	box-shadow:1px 1px 3px rgba(0,0,0,0.1)
}
#submit{
	color:white;
	background-color:rgb(95, 143, 214);
	border: 1px solid rgb(70, 114, 180);
}
#sign_out{
	text-decoration:none;
	display:block;
	color:#565656;
	padding-bottom:30px;
	margin-right:30px;
}
#sign_out:hover{
	text-decoration:underline;
}
