@charset "ISO-8859-1";
#content{
    width: 740px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    padding: 50px 30px;
}
p{
    margin: 0 auto;
    font-size: 26px;
    text-align: left;
    font-weight: 500;
    padding-top: 40px;
    color: #6085b6;
}
table tr{
	padding:5px;
	padding-left:30px;
}
table tr td{
	padding:5px;
	padding-right:50px;
}
#wrap{
    width:1000px;
}
#form-commentInfo{
	margin-top:30px;
}
#form-commentInfo, #btn, #comments{
	width:300px;
	padding-left:35px;
	padding-bottom:5px;
}
#comment-count, #comment-input, #submit,
#remove, #edit, #list{
	padding:5px;
}
#comment-input{
	width:790px;
	height:100px;
}
#submit{
	height:112px;
	width:112px;
	float:right;
}
#cc{
	width:930px;
}
#btn input{
	margin-right:5px;
}
#btn{
	margin-left:630px;
	padding-top:20px;
	width:800px;
	padding-bottom:20px;
	clear:both;

}

#first{
	background-color: white;
	margin-left:30px;
	width:700px;
}
#first tr td:first-child{
	width:60px;
}
#second{
	margin-left:30px;
}

#write{
	padding:5px;
	text-align:right;
}
#write a{
	font-size:12pt;
	padding:5px;
}
.clear{
	clear:both;
}
h2{
	margin:25px;
}
