@charset "ISO-8859-1";
section{
	background-color: rgb(245, 232, 255);
	overflow-y:300px;
	padding-bottom: 80px;
	padding-top: 10px;
}
h2{
	float: left;
	padding: 5px 0 5px 0;
	margin: 0;
}
.clear{
	clear:both;
}
#move{
	margin:0;
	margin-bottom: 10px;
	
}
#section_h{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
	width: 1000px;
	margin: 0 auto;
}
#search{
	padding: 10px 0 10px 0;
	width: 370px;
	float: left;
	margin-left: 220px;
}
.write{
	background-color: rgb(175, 107, 230);
	float: right;
}
#content{
    width: 740px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    padding: 50px 30px;
}
#center{
	width: 800px;
	margin: 0 auto;
}
#first{
	float:left;
	width: 600px;
}
#second{
	float:left;
	width: 600px;
}
#second table tr td{
	margin:10px;
}
#title span{
	background: #ccc;
	border-radius: 10px;
	color: #000;
	padding: 5px;
	margin-left: 10px;
	font-size: 13px;
}
#title{
    margin: 0 auto;
    font-size: 26px;
    text-align: left;
    font-weight: 500;
    padding-top: 40px;
    color: #9660b6;
}
#sub_btn{
	float:right;
	background: #9660b6;
	width: 150px;
	height: 120px;
	border: none;
	border-radius: 15px;
	color: #fff;
	margin-top: 60px;
	font-size: 20px;
}
#wrap{
    background-color: white;
    width:1000px;
    padding-bottom: 30px;
}
#form-commentInfo{
	margin-top:30px;
}
#form-commentInfo, #btn, #comments{
	width:300px;
	padding-bottom:5px;
}
#comment-count, #comment-input, #submit,
#remove, #edit, #list{
	padding:5px;
}
#comment-input{
	width:790px;
	height:100px;
}
#submit{
	height:112px;
	width:112px;
	float:right;
}
#cc{
	width:930px;
}
#btn input{
	margin-right:5px;
}
#btn{
	padding-top:3px;
	padding-left:730px;
}
#write{
	padding:5px;
	text-align:right;
}
#write a{
	font-size:12pt;
	padding:5px;
}