@charset "ISO-8859-1";
section{
	overflow-y:300px;
	padding-bottom: 80px;
	padding-top: 10px;
}
h2{
	float: left;
	padding: 5px 0 5px 0;
	margin: 0;
}
.clear{
	clear:both;
}
#move{
	margin:0;
	margin-bottom: 10px;
	
}
#section_h{
	padding-top: 10px;
	padding-bottom: 10px;
	height: 50px;
	width: 1000px;
	margin: 0 auto;
}

.write{
	float: right;
}
#content{
    width: 740px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    padding: 50px 30px;
}
#center{
	width: 800px;
	margin: 0 auto;
}
#first{
	float:left;
	width: 600px;
}
#second{
	float:left;
	width: 600px;
}
#second table tr td{
	margin:10px;
}
#tags{
	margin-bottom: 5px;
}
#tags span{
	background: #ddd;
	border-radius: 7px;
	color: #000;
	padding: 5px;
	font-size: 15px;
	margin-right:10px;
}
#title{
    margin: 0 auto;
    font-size: 26px;
    text-align: left;
    font-weight: 500;
    padding-top: 40px;
    color: #6085b6;
}
#sub_btn{
	float:right;
	background-color: rgb(95, 143, 214);
	width: 150px;
	height: 120px;
	border: none;
	border-radius: 15px;
	color: #fff;
	margin-top: 60px;
	font-size: 20px;
}
#wrap{
    background-color: white;
    width:1000px;

    height:auto;

    padding-bottom: 30px;
}
#form-commentInfo{
	margin-top:30px;
}
#form-commentInfo, #btn, #comments{
	width:300px;
	padding-bottom:5px;

}
#comment-count, #comment-input, #submit,
#remove, #edit, #list{
	padding:5px;
}
#comment-input{
	width:788px;
	height:100px;
	border:1px solid #ccc;
	outline:none;
}
#submit{

	float:right;
	display:block;
	margin:10px 0 0 0px;
	padding:5px 15px;
	border:1px solid #ccc;
	border-radius:5px;
	cursor:pointer;
	outline:none;

}
#cc{
	width:800px;
}
#btn input{
	margin-left:5px;
	float:right;
	border:1px solid #ccc;
	border-radius:5px;
	cursor:pointer;
}
#btn{

	padding-top:20px;
	width:800px;
	padding-bottom:20px;
	clear:both;

}

#list, #remove, #edit{
	outline:none;
	background-color:#fff;
}

#remove{
	color:#f26231;
}


#write{
	padding:5px;
	text-align:right;
}
#write a{
	font-size:12pt;
	padding:5px;
}

#image{
	max-width:740px;
	margin:0 auto;
	display:block;
	text-align:center;
}

#nick{
	margin-top:10px;
	font-weight:bolder;
}
#date{
	color:#767676;
	margin-bottom:10px;
}
#second table tr td:nth-child(1){
	font-weight:bolder;
	color:#656565;
	padding-right:10px;
}
.comments{
	clear:both;
	padding-bottom:15px;
	border-bottom:1px solid #eaeaea;
	margin-top:10px;
}

.reply_user{
	padding:10px 0 5px 0;
	font-weight:bolder;
}
.reply_date{
	font-size:13px;
	color:#838383;
}
.re_remove, .re_edit, .re_again{
	border:none;
	background-color:white;
	color:#333;
	cursor:pointer;
	margin-right:5px;
	outline:none;
}
.re_remove{
	color:#666;
}
.re_edit_txt{
	width:740px;
}
.edit-go,.edit-cancel{
	float:right;
	margin:10px 0 0 5px;
	padding:5px 15px;
	border:1px solid #ccc;
	border-radius:5px;
	cursor:pointer;
	outline:none;
}
.reply_comment{
	padding:10px 0 15px 0;
}
.edit-input{
	margin-top:10px;
	padding:5px;
	width:728px;
	height:100px;
	border:1px solid #ccc;
	outline:none;
}
.re_re_comment{
	margin-top:10px;
	padding:5px;
	width:728px;
	height:100px;
	border:1px solid #ccc;
	outline:none;
}

.reply_again_txt{
	width:740px;
}
.re_re_submit{
	margin-top:10px;
	display:block;
	float:right;
	margin:10px 0 0 0px;
	padding:5px 15px;
	border:1px solid #ccc;
	border-radius:5px;
	cursor:pointer;
	outline:none;
}
#clr{
	clear:both;
}
.writer{
	max-width: 500px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis; 
    cursor:pointer;
    font-weight:400; 
    display:inline
}
.writer:hover{
	text-decoration:underline;
}
