@charset "EUC-KR";
.clear{
	clear:both;
}
section{
	margin-top: 40px;
    margin-bottom: 20px;
    height: auto;
}
h2{
	padding-top:20px;
	text-align: left;
	margin-left: 20px;
}
#mine{
	text-align:left;
	margin-top: 10px;
	margin-bottom: 30px;
	margin-left: 12px;
	width : 800px;
	float: left;
}
#mine a{
	margin-left: 10px;
    text-decoration: none;
}

#tossJsp{
	float: left;
	margin-bottom:30px;
}
table{
	clear:both;
    margin: 0 auto;
    width : 800px;
    background: white;
    border: 1px solid #bbb;
    border-collapse: collapse;
}
table #info td{
    font-weight: bold;
    text-align: center;
    padding: 7px 0;
    font-weight: bold;
    background-color: #bbbbbb;
}
table tr td:first-child {
    padding: 10px;
    padding-left: 20px;
    width: 300px;
}
#my_list #info td:first-child{
	padding-left: 20px;
}
#my_list tr td:nth-child(2){
	width: 300px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 100px;
	padding-right: 20px;
}
#my_list tr td:nth-child(4){
	text-align:center;
	width:70px;
}
#my_list tr td:nth-child(5){
	text-align:right;
	padding-right: 20px;

}
table tr{
	border-bottom: 1px solid #bbb;
}
#my_list1 tr td:nth-child(2) {
    padding: 10px;
    text-align: center;
    width: 150px;
}
#my_list1 tr td:nth-child(3) {
    padding: 10px;
    text-align: center;
    width: 150px;
}
table a{
	text-decoration: none;
}
table a:hover{
	text-decoration: underline;
}

#count{
	text-align: right;
	width:60px;
}

#center{
	width: 800px;
	margin: 0 auto;
}
.applier{
	width: 800px;
	height: 120px;
	border: 1px solid #bbb;
	background: #fff;
	padding: 7px 10px;
	
}
.applier a{
	text-decoration: none;
}
.applier .info{
	float: left;
}
.applier .title{
	padding: 5px 0;
}
.applier .title a{
	font-weight: bold;	
}
.applier .date{
	margin-left: 10px;
	color:#bbb;
}
.applier .info .nick{
	margin-bottom: 7px;
}
.applier .info .info02,
.applier .info .info02 a,
.applier .info .info02 span{
	color:rgb(107, 156, 230);
}
.applier .info .ptag{
	padding-left: 5px;
}
.applier .info .ptag span{
	background:#bbb;
	border-radius: 5px;
	color:#fff;
	font-size: 12px;
	padding:3px;
}
.applier .btns{
	float: right;
	margin-top: 7px;
}
.applier .btns .btn{
	height: 50px;
	width: 100px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background: rgb(107, 156, 230);
	color:#fff;
	font-size:15px;
}
.applier .btns .last{
	margin-top: 5px;
}

#mine a:hover{
	color:#ccc;
	font:bold;
}
#tossJsp{
	margin-left:10px;
}
#tossJsp span:hover{
	color:#fff;
}
.current a{
	font-weight: bold;
}

#apply_selected{
	color:#fff;
	background-color: rgb(175, 107, 230);
}
#fin_btn{
	background-color: rgb(175, 107, 230);
}

#apply_title {
    padding-left: 10px;
}
.nick {
    padding-left: 4px;
}
.intro {
    padding-left: 10px;
}
ul.pagination {
    text-align: center;
    padding: 20px;
}
a.page-link {
    font-size: 12pt;
    padding: 10px;
}